* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

#baloons {
    animation: baloon 3s linear 1s infinite normal forwards;
}

@keyframes baloon {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-250px);
    }
}

#girls {
    animation: girls 3s alternate;
    transform-origin: top;
}

@keyframes girls {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }
}